html, body { 
  height: 100%;
  margin: 0; 
  padding: 0;
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.box {
  width: 100%;
}

#map {
  float: right;
  height: 50%; 
  width: 100%; 
}

#info-display {
  font-size: 3em;
  float: left;
  width: 100%;
}

#title {
  font-size: 1em;
}

#instructions {
  font-size: .25em;
  color: #bdc3c7;
  text-align: center;
}

#search {
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  width: 75%;
  height: 3em;
  text-align: center;
  color: #bdc3c7;
}

ul {
  list-style-type: none;
}

h1 {text-align: center;}