html, body { 
  height: 100%;
  margin: 0; 
  padding: 0;
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.box {
  width: 100%;
}

#map {
  float: right;
  height: 50%; 
  width: 100%; 
}

#info-display {
  font-size: 3em;
  float: left;
  width: 100%;
}

ul {
  list-style-type: none;
}

h1 {text-align: center;}